<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:hdp="http://www.springframework.org/schema/hadoop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
     	http://www.springframework.org/schema/tx
     	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     	http://www.springframework.org/schema/aop 
     	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<context:component-scan base-package="com.*" />

	<bean id="dsOracle" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:/comp/env/jdbc/oracle</value>
		</property>
	</bean>
	<bean id="dsPhoenix" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:/comp/env/jdbc/yst</value>
		</property>
	</bean>

	<bean id="sfOracle"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dsOracle" />
		<!--<property name="hibernate.jdbc.batch_size">25</property> <property 
			name="hibernate.jdbc.fetch_size">50</property> -->
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

	<bean id="sfPhoenix"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dsPhoenix" />
		<property name="configLocation" value="classpath:phoenix.cfg.xml" />
	</bean>

	<bean id="htOracle" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sfOracle" />
	</bean>

	<bean id="htPhoenix" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sfPhoenix" />
	</bean>

	<bean id="tmOracle"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sfOracle" />
	</bean>

	<bean id="tmPhoenix"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sfPhoenix" />
	</bean>

	<aop:aspectj-autoproxy />

	<tx:advice id="txAdviceOracle" transaction-manager="tmOracle">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<tx:advice id="txAdvicePhoenix" transaction-manager="tmPhoenix">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="interceptorPointCutsOracle"
			expression="execution(* com.yst.executor.dao.impl.*.*(..))" />
		<aop:advisor advice-ref="txAdviceOracle" pointcut-ref="interceptorPointCutsOracle" />
	</aop:config>

	<aop:config>
		<aop:pointcut id="interceptorPointCutsPhoenix"
			expression="execution(* com.yst.executor.dao.impl2.*.*(..))" />
		<aop:advisor advice-ref="txAdvicePhoenix" pointcut-ref="interceptorPointCutsPhoenix" />
	</aop:config>

</beans>